<a href="https://colab.research.google.com/github/Niklaus0708/MLICP1/blob/main/ICP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [65]:
ages.sort()  #sorts the data inside the ages

In [66]:
ages # prints the content in ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [67]:
min(ages) # gives minimum value

19

In [68]:
ages.append(19)
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19]

In [69]:
max(ages) #gives maximum value

26

In [70]:
ages.append(26)
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [71]:
n=len(ages) #gives the length

In [72]:
if n % 2 == 0:  # for even number of observations
    median1 = ages[n//2]
    median2 = ages[n//2 - 1]
    median = (median1 + median2)/2 #average of median observations
else:
    median = ages[n//2]
print("Median is: " + str(median))

Median is: 24.0

In [73]:
average=sum(ages)/len(ages)
average  #mean of the data

22.75

In [74]:
range=max(ages)-min(ages)
range

7

In [75]:
dog={}

In [76]:
dog={'name':'buddy','color':'white','breed':'german shepard','age':'5','legs':'4'}
dog.keys()  #gives the keys of the key value pair

dict_keys(['name', 'color', 'breed', 'age', 'legs'])

In [77]:
student={'first_name':'nikhil',
         'last_name':'prakki',
         'gender':'male',
         'age':'22',
         'martitalstatus':'single',
         'skills':'[]',
         'country':'India',
         'city':'Rajamundry',
         'address':'main road'}
student["skills"]=['c','java','python','javascript']  # added the data into skills key

In [78]:
len(student)

9

In [79]:
skills_value = student['skills']
print(skills_value)
print(type(skills_value)) #gives the type of skills_value

['c', 'java', 'python', 'javascript']
<class 'list'>

In [80]:
student['skills'].extend(["c#","c++"])
student['skills']

['c', 'java', 'python', 'javascript', 'c#', 'c++']

In [81]:
studentkeys=list(student.keys()) #give sthe list of values in keys
studentkeys

['first_name',
 'last_name',
 'gender',
 'age',
 'martitalstatus',
 'skills',
 'country',
 'city',
 'address']

In [82]:
studentvalues=list(student.values()) #give sthe list of values in values
studentvalues

['nikhil',
 'prakki',
 'male',
 '22',
 'single',
 ['c', 'java', 'python', 'javascript', 'c#', 'c++'],
 'India',
 'Rajamundry',
 'main road']

In [83]:
siblingsbro=('dinesh','avinash','nikhil')
siblingssis=('rani','avani','prasanna')
print(siblingsbro)
print(siblingssis)

('dinesh', 'avinash', 'nikhil')
('rani', 'avani', 'prasanna')

In [84]:
siblings=siblingssis+siblingsbro #joins the tuples
siblings

('rani', 'avani', 'prasanna', 'dinesh', 'avinash', 'nikhil')

In [85]:
len(siblings)

6

In [86]:
parents=("ramu","satya")
family_members=siblings+parents
family_members

('rani', 'avani', 'prasanna', 'dinesh', 'avinash', 'nikhil', 'ramu', 'satya')

In [87]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
len(it_companies)

7

In [88]:
it_companies.add('twitter')  #adds new value to the set
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'twitter'}

In [89]:
it_companies.update(['LinkedIn', 'Snapchat', 'Spotify']) #added multiple values to the set
print(it_companies)

{'Facebook', 'twitter', 'Snapchat', 'Google', 'Microsoft', 'Apple', 'IBM', 'Spotify', 'Amazon', 'Oracle', 'LinkedIn'}

In [90]:
it_companies.remove('Snapchat') #removes the element
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'LinkedIn',
 'Microsoft',
 'Oracle',
 'Spotify',
 'twitter'}

In [91]:
it_companies.discard('IBM')

discard doesnot give error if the value doesnot exist whereas remove gives.

In [92]:
new=A.union(B) #joins the sets and removes repetition
new

{19, 20, 22, 24, 25, 26, 27, 28}

In [93]:
new1=A.intersection(B) #gives the common elements
new1

{19, 20, 22, 24, 25, 26}

In [94]:
new2=A.issubset(B) #verifies whether it is a subset or not
new2

True

In [95]:
A.isdisjoint(B)

False

In [96]:
A.update(B) #updates one set ith the other
A

{19, 20, 22, 24, 25, 26, 27, 28}

In [97]:
B.update(A)
B

{19, 20, 22, 24, 25, 26, 27, 28}

In [98]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A_symmetric_difference_B = A.symmetric_difference(B) #gives the symmetric difference
print(A_symmetric_difference_B)

{27, 28}

In [99]:
del A
del B

In [100]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print(len(age))
print(len(age_set))

8
5

In [101]:
rad=30
_area_of_circle_=3.14*rad*rad
_area_of_circle_

2826.0

In [102]:
_circum_of_circle_=2*3.14*rad
_circum_of_circle_

188.4

In [103]:
import math
radius = float(input("Enter the radius of the circle: ")) # takes the radius value as a input from user
area = math.pi * radius ** 2
area

Enter the radius of the circle: 10

314.1592653589793

In [104]:
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)
number_of_unique_words = len(unique_words)
number_of_unique_words

10

In [105]:

header = "Name\tAge\tCountry\tCity"
data = "Asabeneh\t250\tFinland\tHelsinki"
print(header)
print(data)

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [106]:
radius = 10
area = 3.14 * radius ** 2

message = "The area of a circle with radius {} is {:.2f} meters square.".format(radius, area)
message

'The area of a circle with radius 10 is 314.00 meters square.'

In [107]:
# Read the number of elements
n = int(input("Enter the number of students: "))

# Initialize an empty list for weights in pounds
weights_lbs = []

# Use a while loop to read and append elements to the list
i = 0
while i < n:
    weight_lbs = int(input(f"Enter weight of student  {i+1} (in pounds): "))
    weights_lbs.append(weight_lbs)
    i += 1

# Convert weights from pounds to kilograms and round to 2 decimal places
weights_kg = []
i = 0
while i < len(weights_lbs):
    weight_kg = round(weights_lbs[i] * 0.453592, 2)
    weights_kg.append(weight_kg)
    i += 1

# Print the weights in kilograms
print(weights_kg)

Enter the number of students: 3
Enter weight of student  1 (in pounds): 123
Enter weight of student  2 (in pounds): 125
Enter weight of student  3 (in pounds): 344
[55.79, 56.7, 156.04]