<a href="https://colab.research.google.com/github/Niklaus0708/MLICP1/blob/main/ICP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [2]:
ages.sort()  #sorts the data inside the ages

In [3]:
ages # prints the content in ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [4]:
min(ages) # gives minimum value

19

In [5]:
max(ages) #gives maximum value

26

In [6]:
n=len(ages) #gives the length

In [7]:
if n % 2 == 0:  # for even number of observations
    median1 = ages[n//2]
    median2 = ages[n//2 - 1]
    median = (median1 + median2)/2 #average of median observations
else:
    median = ages[n//2]
print("Median is: " + str(median))

Median is: 24.0

In [53]:
average=sum(ages)/len(ages)
average  #mean of the data

22.8

In [54]:
range=max(ages)-min(ages)
range

7

In [8]:
dog={'name':'buddy','color':'white','breed':'german shepard','age':'5','legs':'4'}
dog.keys()  #gives the keys of the key value pair

dict_keys(['name', 'color', 'breed', 'age', 'legs'])

In [9]:
student={'first_name':'nikhil',
         'last_name':'prakki',
         'gender':'male',
         'age':'22',
         'martitalstatus':'single',
         'skills':'[]',
         'country':'India',
         'city':'Rajamundry',
         'address':'main road'}
student["skills"]=['c','java','python','javascript']  # added the data into skills key

In [10]:
len(student)

9

In [11]:
skills_value = student['skills']
print(skills_value)
print(type(skills_value)) #gives the type of skills_value

['c', 'java', 'python', 'javascript']
<class 'list'>

In [12]:
studentkeys=list(student.keys()) #give sthe list of values in keys
studentkeys

['first_name',
 'last_name',
 'gender',
 'age',
 'martitalstatus',
 'skills',
 'country',
 'city',
 'address']

In [13]:
studentvalues=list(student.values()) #give sthe list of values in values
studentvalues

['nikhil',
 'prakki',
 'male',
 '22',
 'single',
 ['c', 'java', 'python', 'javascript'],
 'India',
 'Rajamundry',
 'main road']

In [14]:
siblingsbro=('dinesh','avinash','nikhil')
siblingssis=('rani','avani','prasanna')

In [15]:
siblings=siblingssis+siblingsbro #joins the tuples
siblings

('rani', 'avani', 'prasanna', 'dinesh', 'avinash', 'nikhil')

In [16]:
len(siblings)

6

In [17]:
parents=("ramu","satya")
family_members=siblings+parents
family_members

('rani', 'avani', 'prasanna', 'dinesh', 'avinash', 'nikhil', 'ramu', 'satya')

In [18]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
len(it_companies)

7

In [19]:
it_companies.add('twitter')  #adds new value to the set
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'twitter'}

In [20]:
it_companies.update(['LinkedIn', 'Snapchat', 'Spotify']) #added multiple values to the set
print(it_companies)

{'Google', 'Snapchat', 'LinkedIn', 'Microsoft', 'IBM', 'twitter', 'Amazon', 'Oracle', 'Facebook', 'Apple', 'Spotify'}

In [21]:
it_companies.remove('Snapchat') #removes the element
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'LinkedIn',
 'Microsoft',
 'Oracle',
 'Spotify',
 'twitter'}

In [22]:
it_companies.discard('IBM')

In [23]:
it_companies.remove('IBM')

KeyError: 'IBM'

discard doesnot give error if the value doesnot exist whereas remove gives.

In [24]:
new=A.union(B) #joins the sets and removes repetition
new

{19, 20, 22, 24, 25, 26, 27, 28}

In [25]:
new1=A.intersection(B) #gives the common elements
new1

{19, 20, 22, 24, 25, 26}

In [26]:
new2=A.issubset(B) #verifies whether it is a subset or not
new2

True

In [27]:
A.isdisjoint(B)

False

In [28]:
A.update(B) #updates one set ith the other
A

{19, 20, 22, 24, 25, 26, 27, 28}

In [29]:
B.update(A)
B

{19, 20, 22, 24, 25, 26, 27, 28}

In [30]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A_symmetric_difference_B = A.symmetric_difference(B) #gives the symmetric difference
print(A_symmetric_difference_B)

{27, 28}

In [31]:
del A
del B

In [32]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print(len(age))
print(len(age_set))

8
5

In [33]:
rad=30
_area_of_circle_=3.14*rad*rad
_area_of_circle_

2826.0

In [34]:
_circum_of_circle_=2*3.14*rad
_circum_of_circle_

188.4

In [35]:
import math
radius = float(input("Enter the radius of the circle: ")) # takes the radius value as a input from user
area = math.pi * radius ** 2
area

Enter the radius of the circle: 5

78.53981633974483

In [36]:
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)
number_of_unique_words = len(unique_words)
number_of_unique_words

10

In [51]:

header = "Name\tAge\tCountry\tCity"
data = "Asabeneh\t250\tFinland\tHelsinki"
print(header)
print(data)

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [40]:
radius = 10
area = 3.14 * radius ** 2

message = "The area of a circle with radius {} is {:.2f} meters square.".format(radius, area)
message

'The area of a circle with radius 10 is 314.00 meters square.'

In [42]:
# Read the number of students from the user
n = int(input("Enter the number of students: "))

# Initialize lists to store weights in pounds and kilograms
weights_lbs = []
weights_kg = []

# Loop to read weights in pounds and convert to kilograms
for i in range(n):
    weight_lbs = float(input(f"Enter the weight of student {i + 1} (in lbs): "))
    weights_lbs.append(weight_lbs)  # Add weight in pounds to the list
    weight_kg = weight_lbs * 0.453592  # Convert pounds to kilograms
    weights_kg.append(weight_kg)  # Add converted weight to the list

# Print the weights in both pounds and kilograms
print("\nWeights in pounds:", weights_lbs)
print("Weights in kilograms:", weights_kg)

Enter the number of students: 5
Enter the weight of student 1 (in lbs): 5
Enter the weight of student 2 (in lbs): 2
Enter the weight of student 3 (in lbs): 6
Enter the weight of student 4 (in lbs): 3
Enter the weight of student 5 (in lbs): 5

Weights in pounds: [5.0, 2.0, 6.0, 3.0, 5.0]
Weights in kilograms: [2.26796, 0.907184, 2.721552, 1.360776, 2.26796]