<a href="https://colab.research.google.com/github/Niklaus0708/MLICP1/blob/main/ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1
#Use a python code to display the following star pattern using the for loop
rows = 5

#used nested for loop to display top 5 rows of star pattern
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")
#used nested for loop for to display bottoms 5rows of star pattern
for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [2]:
#Q2
# Used looping method to provide the elements from the list present at odd indexes.

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
i = 0
while(i<len(my_list)):
  if(i%2!=0):
    print(my_list[i])
  i = i+1

20
40
60
80
100

In [3]:
#Q3.
# Append a list with types of elements

x = [23,'Python', 23.98]
n = []
for i in range(len(x)):
    #using type function to get types of elements,their data types and print them
    n.append(type(x[i]))
print(n)
print(x)

[<class 'int'>, <class 'str'>, <class 'float'>]
[23, 'Python', 23.98]

In [4]:
#Q4
#Write a function that takes a list and returns a new list with unique items of the first list.
#Sample List: [1,2,3,3,3,3,4,5]
def unique_list(l):
  x = []
#using for loop
  for a in l:
    if a not in x:
      x.append(a)
  return x
print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [5]:
#Q5
#. Write a function that accepts a string and calculate the number of upper-case letters and lower-case letters.
# Input String: 'The quick Brow Fox'
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brow Fox')

Original String :  The quick Brow Fox
No. of Upper case characters :  3
No. of Lower case Characters :  12